/* @import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Grenze&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Grenze&display=swap');

html, body {
    margin: 0;
}

body {
    background-image: linear-gradient(to right bottom, #3D6870, #2F4858);
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

italic {
    font-style: italic;
}

.flex {
    display: flex;
}

.container {
    flex-direction: column;
    display: flex;
}

.link {
    color: #bbaf96;
}

.informacao {
    font-family: 'Grenze', serif;
    display: flex;
    width: 95%;
    border-radius: 5px;
    align-self: center;
    margin: 30px;
    background-color: #56524a;
    border: 2px #6d6d6d solid;
    box-shadow: 0 1px 8px black;
    color: #dffffa;
}
.informacao img {
    margin:10px;
    width: 40%;
    border: 2px solid #0a1819;
}
.informacao p {
    margin: 10px;
    font-size: 26px;
}
.botao {
    text-decoration: none; 
    color: #dffffa;
    border-radius: 10px;
    align-self: center;
    height: 30px;
    padding: 10px;
    background-image: linear-gradient(to right bottom, #2a5d5f, #182d2d);
    border: 1px solid black;
    margin: 40px 0 10px 0;
    font-size: 18px;
}

.titulo {
    width: 100%;
    height: 90px;
    background-color: #f5deb3;
    border-bottom: 7px solid #504e49;
}
.titulo h1 {
    font-family: 'Grenze', serif;
    color: #285859;
    text-shadow: 2px 1px #8e939c;
    font-size: 55px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.contato {
    font-family: 'Grenze', serif;
    align-self: center;
    width: 65%;
    border-radius: 5px;
    margin: 30px;
    background-color: #56524a;
    border: 2px #6d6d6d solid;
    box-shadow: 0 1px 8px black;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
} 
.contato h2 { 
    color: #dfffe9;
    margin: 10px 0 0 0;
}
.contato p {
    color: #bbaf96;
}
.contato h2:hover {
    cursor: pointer;    
}

.formulario {
    height: 450px;
    justify-content: center;
}
.formulario form {
    flex-direction: column;
    width: 250px;
    padding: 10px 40px;
}
form input {
    margin: 10px;
}
form .campos {
    align-self: center;
    width: 200px;
    height: 23px;
    border-radius: 3px;
    border-style: none;
    padding-left: 6px;
}
form .botoes {
    justify-content: center;
}

.botoes input {
    font-family: 'Grenze', serif;
    font-size: 16px;
    border-style: none;
    border-radius: 4px;
    color: white;
    background-image: linear-gradient(-180deg,#757575,#525252);
    border: 1px solid black;
    cursor: pointer;
}
#enviar {
    background-image: linear-gradient(-180deg,#2abb4c,#28a745);
}

footer {
    bottom: 0;
    height: 70px;
    width: 100%;
    background-color: #56524a;
    border-top: 2px #6d6d6d solid;
    box-shadow: 0 1px 8px black;
}